@import "./mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  /*   @include media(xs) {
    background-color: red;
  }

  @include media(sm) {
    background-color: orange;
  }
  @include media(md) {
    background-color: pink;
  }

  @include media(lg) {
    background-color: black;
  }

  @include media(xl) {
    background-color: yellow;
  } */
}

.banner {
  width: 100%;
  background-image: url("../images/banner-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(xl) {
    padding: 100px 0px;
  }
  @include media(lg) {
    padding: 90px 0px;
  }
  @include media(md) {
    padding: 30px 0px;
  }
  @include media(sm) {
    padding: 120px 0px;
  }
  @include media(xs) {
    padding: 120px 0px;
  }
  .container {
    display: grid;
    width: 90%;
    height: 300px;
    // background-color: rgba(66, 54, 54, 0.7);
    grid-template-columns: 1fr 1fr;
    @include media(xl) {
      width: 70%;
      height: 600px;
    }
    @include media(lg) {
      width: 90%;
      height: 500px;
    }
    @include media(md) {
      width: 90%;
      height: 400px;
    }
    @include media(sm) {
      display: none;
    }
    @include media(xs) {
      display: none;
    }
    span {
      @include media(lg) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
      @include media(xl) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h5 {
      @include media(lg) {
        font-size: 2em;
        margin: 30px 0;
      }
      @include media(xl) {
        font-size: 3em;
        margin: 60px 0;
      }
      font-size: 2em;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: #a85a6d;
      display: inline-block;
      letter-spacing: 1px;
      font-weight: 400;
      position: relative;
    }
    h1 {
      @include media(lg) {
        font-size: 2em;
        margin-bottom: 40px;
        line-height: 44px;
      }
      @include media(xl) {
        font-size: 3em;
        margin-bottom: 40px;
        line-height: 44px;
      }
      font-size: 2em;
      line-height: 34px;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2em;
      margin-bottom: 18px;
      @include media(lg) {
        margin-bottom: 45px;
        font-size: 1.4em;
      }
      @include media(xl) {
        margin-bottom: 45px;
        font-size: 1.5em;
      }
    }
    button {
      background-color: #131313;
      box-shadow: 4px 4px 0px rgba(122, 82, 94, 0.75);
      color: white;
      border: 0;
      width: 300px;
      font-size: 1em;
      padding: 10px 0px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
}

.mobile-container {
  display: none;
  padding: 20px;
  @include media(sm) {
    display: block;
  }
  @include media(xs) {
    display: block;
  }
  h5 {
    font-size: 1.3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #a85a6d;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;
  }
  h1 {
    font-size: 2em;
    line-height: 34px;
    margin-bottom: 20px;
  }
  p {
    font-size: 1em;
    line-height: 17px;
    margin-bottom: 18px;
  }
  button {
    background-color: #131313;
    box-shadow: 4px 4px 0px rgba(122, 82, 94, 0.75);
    color: white;
    border: 0;
    width: 300px;
    font-size: 1em;
    padding: 10px 0px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.form-info {
  background-color: #ece7e8;
  padding-top: 75px;
  padding-bottom: 60px;
  position: relative;
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    h3 {
      font-size: 40px;
      color: #343132;
      font-weight: bold;
      margin-bottom: 46px;
      text-align: center;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media(md) {
        flex-flow: column;
      }
      @include media(sm) {
        flex-flow: column;
      }
      @include media(xs) {
        flex-flow: column;
      }
    }
    input {
      background-color: #f6f4f5;
      height: 50px;
      color: #343132;
      font-family: "Lato", sans-serif;
      font-style: italic;
      padding: 0px 18px;
      margin: 0px 10px 0px 10px;
      box-shadow: none;
      outline: none;
      border: none;
      @include media(md) {
        width: 400px;
        .f {
          display: inline;
        }
        margin: 10px 0px 10px 0px;
      }
      @include media(sm) {
        width: 400px;
        margin: 10px 0px 10px 0px;
      }
      @include media(xs) {
        width: 300px;
        margin: 10px 0px 10px 0px;
      }
    }
    .form-btn {
      width: 550px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: -80px;
      @include media(md) {
        justify-content: center;
        .f {
          display: none;
        }
      }
      @include media(sm) {
        justify-content: center;
        .f {
          display: none;
        }
      }
      @include media(xs) {
        justify-content: center;
        .f {
          display: none;
        }
      }
    }
  }
}
.how-we-do {
  width: 100%;
  padding: 50px 0px 50px 0px;
  .container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    .info-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px 0px;
      @include media(md) {
        grid-template-columns: 1fr;
        .reverse {
          grid-row: 1;
        }
      }
      @include media(lg) {
        grid-template-columns: 1fr;
        .reverse {
          grid-row: 1;
        }
      }
      @include media(sm) {
        grid-template-columns: 1fr;
        .reverse {
          grid-row: 1;
        }
      }
      @include media(xs) {
        grid-template-columns: 1fr;
        .reverse {
          grid-row: 1;
        }
      }
      .text-info {
        display: flex;
        flex-flow: column;
        padding: 35px;
        @include media(xs) {
          padding: 15px;
        }
        h5 {
          @include media(sm) {
            margin-bottom: 12px;
            font-size: 21px;
          }
          @include media(xs) {
            margin-bottom: 8px;
            font-size: 19px;
          }
          font-size: 25px;
          margin-bottom: 30px;
          text-transform: uppercase;
          color: #a6aeca;
          display: inline-block;
          letter-spacing: 1px;
          font-weight: 400;
          position: relative;
        }
        h3 {
          @include media(sm) {
            font-size: 30px;
            margin-bottom: 25px;
          }
          @include media(xs) {
            line-height: 42px;
            font-size: 22px;
            margin-bottom: 8px;
          }
          font-size: 52px;
          line-height: 52px;
          color: #343132;
          margin-bottom: 61px;
          font-weight: bold;
          font-family: "Barlow Semi Condensed", sans-serif;
        }
        p {
          @include media(sm) {
            font-size: 15px;
          }
          @include media(xs) {
            font-size: 18px;
            margin-bottom: 8px;
          }
          font-size: 21px;
          color: #343132;
          font-family: "Lato", sans-serif;
          font-weight: 200;
          margin-bottom: 35px;
          line-height: 24px;
        }
        button {
          font-size: 18px;
          color: #fff;
          background-color: #131313;
          font-weight: 600;
          width: 176px;
          border: 0;
          height: 50px;
          letter-spacing: 2px;
          transition: 0.5s;
        }
      }
      .img-info {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-width: 500px;
          height: auto;
        }
      }
    }
    .info-col {
      display: grid;
      margin-top: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      h3 {
        text-align: center;
        color: #333333;
        font-size: 25px;
        line-height: 25px;
        font-family: "Barlow Semi Condensed", sans-serif;
        font-weight: 400;
        margin-bottom: 25px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      p {
        text-align: center;
        font-size: 20px;
        line-height: 23px;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        color: #343132;
      }
      .info-col-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        img {
          width: 100%;
          max-width: 500px;
          height: auto;
        }
      }
    }
  }
}
:root {
  --green: #aebebf;
  --gold: #b5ab80;
}

h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 50px;
  @include media(xl) {
    font-size: 46px;
  }
}
.container {
  @include media(xl) {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.blog {
  text-align: center;
  padding: 50px 0px;
  .container {
    div {
      margin: 30px 0;
      img {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 15px;
      }
      p {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        line-height: 23px;
        font-size: 18px;
      }
    }
  }
  @include media(xl) {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      div {
        margin: 30px;
      }
    }
  }
}
.partners {
  padding: 80px 15px;
  background-color: #f8f8f8;
  .container {
    h5 {
      font-size: 17px;
      text-transform: uppercase;
      color: #a6aeca;
      font-weight: 100;
      margin-bottom: 16px;
    }
    h3 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 30px;
      color: #343132;
    }
    p {
      font-size: 16px;
      color: #343132;
      font-family: "Lato", sans-serif;
      font-weight: 200;
      line-height: 24px;
    }
    .images {
      margin: 50px 0;
      img {
        margin: 0px auto 50px;
        display: grid;
      }
    }
  }
  @include media(xl) {
    padding: 80px 0px;
    .container {
      max-width: 1140px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      h5 {
        font-size: 25px;
      }
      p {
        font-size: 21px;
      }
      .images {
        margin: 50px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          margin: auto 30px;
        }
      }
    }
  }
}

.testimonial {
  background-image: url("../images/testimonial_bg.jpg");
  background-size: cover;
  height: 20em;
  display: flex;
  align-items: center;
  .text {
    margin: 20px;
    text-align: justify;
    h5 {
      color: #ffdfca;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 15px;
    }
    .border {
      font-size: 16px;
      color: #ffffff;
      position: relative;
      background-color: transparent;
      border: 3px solid #ffffff;
      border-radius: 5px;
      padding: 20px;

      :after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 28px solid transparent;
        border-top-color: #ffffff;
        border-bottom: 0;
        border-left: 0;
        margin-left: -100px;
        margin-bottom: -28px;
      }
    }
    .author {
      color: white;
      text-align: right;
      margin: 10px 20px 0;
    }
  }
  @include media(lg) {
    background-image: url("../images/testimonial.jpg");
    .text {
      width: 50%;
      float: right;
    }
  }
  @include media(xl) {
    background-image: url("../images/testimonial.jpg");
    background-size: cover;
    height: 500px;
    .text {
      width: 50%;
      float: right;
      h5 {
        font-size: 25px;
      }
      p {
        font-size: 21px;
      }
      .author {
        font-size: 22px;
      }
    }
  }
}
.callContainer {
  text-align: center;
  h2 {
    font-size: 42px;
    margin: 20px 10px 20px;
  }
  button {
    font-size: 18px;
    color: #fff;
    background-color: #131313;
    font-weight: 600;
    width: 176px;
    height: 50px;
    letter-spacing: 2px;
    border: 0px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  @include media(lg) {
    h2 {
      margin: 20px 100px 20px;
    }
  }
}

.gallery {
  padding: 20px;
  div img {
    width: 100%;
    margin-bottom: 20px;
  }
  @include media(lg) {
    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        margin-bottom: 1px;
      }
    }
    .heightImg {
      height: 55%;
    }
  }
  @include media(xl) {
    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        margin-bottom: 1px;
      }
    }
    .heightImg {
      height: 55%;
    }
  }
}

.faq {
  padding: 22px;
  text-align: justify;
  .cardCollapse {
    .cardHeader {
      border-bottom: 1px solid #eaeaea !important;
      padding: 20px 5px;
      p {
        font-size: 18px;
        font-family: "Lato", sans-serif;
      }
    }
    .cardContent {
      padding: 5px 5px 40px;
      border-bottom: 1px solid #eaeaea;
      display: none;
      p {
        font-family: "Lato", sans-serif;
        font-weight: 200;
      }
    }
  }
  @include media(lg) {
    .cardCollapse {
      width: 80%;
      margin: auto;
    }
  }
  @include media(xl) {
    .cardCollapse {
      width: 60%;
      margin: auto;
      .cardHeader {
        p {
          font-size: 21px;
        }
      }
    }
  }
}

.subscribe {
  background-color: #edbecb;
  padding: 50px 20px;
  form {
    display: grid;
    margin: 10px 15px;
    input {
      height: 50px;
      background-color: #f7e2e9;
      color: #343132;
      font-size: 18px;
      font-style: italic;
      margin: 10px 0px;
      padding: 10px 20px;
      box-shadow: none;
      outline: none;
      border: 0;
      border-radius: 5px;
    }
    button {
      height: 50px;
      background-color: #131313;
      color: #ffffff;
      border: 0;
      margin: 10px 0px;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
  @include media(lg) {
    form {
      width: 70%;
      margin: auto;
    }
  }
  @include media(xl) {
    form {
      width: 50%;
      margin: auto;
    }
  }
}

footer {
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 38px 0px 31px;
  bottom: 0;
  .logo {
    text-align: center;
    margin-bottom: 40px;
  }
  .disclaimer {
    border-top: 3px solid #78c3b4;
    margin-bottom: 40px;
    p {
      font-style: italic;
      padding: 13px 20px;
      text-align: justify;
      font-size: 13px;
      line-height: 22px;
      font-family: "Lato", sans-serif;
    }
  }
  .socialMedia {
    text-align: center;
    img {
      margin: 0 10px;
      width: 25px;
      cursor: pointer;
    }
    p {
      margin-top: 23px;
      font-family: "Lato", sans-serif;
      font-style: italic;
      font-size: 13px;
    }
  }
  @include media(xl) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .logo {
      margin-bottom: 0px;
    }
    .disclaimer {
      margin-bottom: 0px;
      border-top: 0px;
      border-left: 3px solid #78c3b4;
    }
  }
}
.buttonFlaw {
  display: flex;
  justify-content: space-between;
  width: 300px;
  background-color: black;
  color: white;
  border: 0;
  font-size: 1.2em;
  padding: 10px 20px;
  transition: all 0.4s ease-in;
  box-shadow: 10px 10px 0px rgba(122, 82, 94, 1);
  animation: respiracion 4s infinite;
  &:hover {
    background-color: rgb(122, 82, 94);
    box-shadow: 15px 15px 0px rgba(0, 0, 0, 1);
  }
}

@keyframes respiracion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
