@import "./mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
// body {
//   @include media(sm) {
//     background-color: orange;
//   }
//   @include media(md) {
//     background-color: pink;
//   }

//   @include media(xl) {
//     background-color: yellow;
//   }
// }
.form-info {
  background-color: #ece7e8;
  padding-top: 75px;
  padding-bottom: 60px;
  position: relative;
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    h3 {
      color: #343132;
      font-weight: bold;
      margin-bottom: 46px;
      text-align: center;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    input {
      background-color: #f6f4f5;
      height: 50px;
      color: #343132;
      font-family: "Lato", sans-serif;
      font-style: italic;
      padding: 0px 18px;
      margin: 0px 10px 0px 10px;
      box-shadow: none;
      outline: none;
      border: none;
    }
    .form-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

:root {
  --green: #aebebf;
  --gold: #b5ab80;
}

h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 50px;
  @include media(xl) {
    font-size: 46px;
  }
}
.container {
  @include media(xl) {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

input[type="checkbox"] {
  display: none;
}

.blog {
  text-align: center;
  padding: 50px 0px;
  .container {
    div {
      margin: 30px 0;
      img {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 15px;
      }
      p {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        line-height: 23px;
        font-size: 18px;
      }
    }
  }
  @include media(xl) {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      div {
        margin: 30px;
      }
    }
  }
}
.partners {
  padding: 80px 15px;
  background-color: #f8f8f8;
  .container {
    h5 {
      font-size: 17px;
      text-transform: uppercase;
      color: #a6aeca;
      font-weight: 100;
      margin-bottom: 16px;
    }
    h3 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 30px;
      color: #343132;
    }
    p {
      font-size: 16px;
      color: #343132;
      font-family: "Lato", sans-serif;
      font-weight: 200;
      line-height: 24px;
    }
    .images {
      margin: 50px 0;
      img {
        margin: 0px auto 50px;
        display: grid;
      }
    }
  }
  @include media(xl) {
    padding: 80px 0px;
    .container {
      max-width: 1140px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      h5 {
        font-size: 25px;
      }
      p {
        font-size: 21px;
      }
      .images {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin: auto 20px;
        }
      }
    }
  }
}

.testimonial {
  background-image: url("../images/testimonial_bg.jpg");
  background-size: cover;
  height: 20em;
  display: flex;
  align-items: center;
  .text {
    margin: 20px;
    text-align: justify;
    h5 {
      color: #ffdfca;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 15px;
    }
    .border {
      font-size: 16px;
      color: #ffffff;
      position: relative;
      background-color: transparent;
      border: 3px solid #ffffff;
      border-radius: 5px;
      padding: 20px;

      :after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 28px solid transparent;
        border-top-color: #ffffff;
        border-bottom: 0;
        border-left: 0;
        margin-left: -100px;
        margin-bottom: -28px;
      }
    }
    .author {
      color: white;
      text-align: right;
      margin: 10px 20px 0;
    }
  }
  @include media(lg) {
    background-image: url("../images/testimonial.jpg");
    .text {
      width: 50%;
      float: right;
    }
  }
  @include media(xl) {
    background-image: url("../images/testimonial.jpg");
    background-size: cover;
    height: 500px;
    .text {
      width: 50%;
      float: right;
      h5 {
        font-size: 25px;
      }
      p {
        font-size: 21px;
      }
      .author {
        font-size: 22px;
      }
    }
  }
}
.callContainer {
  text-align: center;
  h2 {
    font-size: 42px;
    margin: 20px 10px 20px;
  }
  button {
    font-size: 18px;
    color: #fff;
    background-color: #131313;
    font-weight: 600;
    width: 176px;
    height: 50px;
    letter-spacing: 2px;
    border: 0px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  @include media(lg) {
    h2 {
      margin: 20px 100px 20px;
    }
  }
}

.gallery {
  padding: 20px;
  div img {
    width: 100%;
    margin-bottom: 20px;
  }
  @include media(lg) {
    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        margin-bottom: 1px;
      }
    }
    .heightImg {
      height: 55%;
    }
  }
  @include media(xl) {
    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      img {
        margin-bottom: 1px;
      }
    }
    .heightImg {
      height: 55%;
    }
  }
}

.faq {
  padding: 22px;
  text-align: justify;
  .cardCollapse {
    width: 100%;
    margin: auto;
    .cardHeader {
      display: block;
      border-bottom: 1px solid #eaeaea !important;
      transition: all 0.25s ease-out;
      display: block;
      font-size: 16px;
      text-align: left;
      padding: 15px 0;
      cursor: pointer;
      transition: all 0.25s ease-out;
      p {
        font-size: 18px;
        font-family: "Lato", sans-serif;
        font-weight: 200;
        color: #333333;
      }

      &::before {
        content: " ";
        float: right;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid currentColor;
        vertical-align: middle;
        transform: translateY(6px);
        transition: transform 0.2s ease-out;
        color: #333333;
      }
    }

    .toggle:checked + .cardHeader {
      p {
        color: #edbecb;
      }
    }

    .toggle:checked + .cardHeader::before {
      transform: rotate(90deg) translateX(-3px);
      color: #edbecb;
    }

    .toggle:checked + .cardHeader {
      + .cardContent {
        max-height: 350px;
        padding: 5px 0px 40px;
        border-bottom: 1px solid #eaeaea;
      }
    }

    .cardContent {
      max-height: 0px;
      overflow: hidden;
      transition: all 0.25s ease-in-out;
      p {
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-size: 18px;
      }
    }
  }
  @include media(lg) {
    .cardCollapse {
      width: 80%;
      margin: auto;
    }
  }
  @include media(xl) {
    .cardCollapse {
      width: 60%;
      margin: auto;
      .cardHeader {
        p {
          font-size: 21px;
        }
      }
    }
  }
}

.subscribe {
  background-color: #edbecb;
  padding: 50px 20px;
  form {
    display: grid;
    margin: 10px 15px;
    input {
      height: 50px;
      background-color: #f7e2e9;
      color: #343132;
      font-size: 18px;
      font-style: italic;
      margin: 10px 0px;
      padding: 10px 20px;
      box-shadow: none;
      outline: none;
      border: 0;
      border-radius: 5px;
    }
    button {
      height: 50px;
      background-color: #131313;
      color: #ffffff;
      border: 0;
      margin: 10px 0px;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
  @include media(lg) {
    form {
      width: 70%;
      margin: auto;
    }
  }
  @include media(xl) {
    form {
      width: 40%;
      margin: auto;
    }
  }
}

footer {
  background-color: #1b1b1b;
  color: #ffffff;
  padding: 38px 0px 31px;
  bottom: 0;
  .logo {
    text-align: center;
    margin-bottom: 40px;
  }
  .disclaimer {
    border-top: 3px solid #78c3b4;
    margin-bottom: 40px;
    p {
      font-style: italic;
      padding: 13px 20px;
      text-align: justify;
      font-size: 13px;
      line-height: 22px;
      font-family: "Lato", sans-serif;
    }
  }
  .socialMedia {
    text-align: center;
    img {
      margin: 0 10px;
      width: 25px;
      cursor: pointer;
    }
    p {
      margin-top: 23px;
      font-family: "Lato", sans-serif;
      font-style: italic;
      font-size: 13px;
    }
  }
  @include media(xl) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .logo {
      margin-bottom: 0px;
    }
    .disclaimer {
      margin-bottom: 0px;
      border-top: 0px;
      border-left: 3px solid #78c3b4;
    }
  }
}
